/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/.env
/.env.local
/.env.*.local
/.idea
/.vscode
*.log
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
/public/favicon.ico
/public/mix-manifest.json
/public/js/app.js
/public/css/app.css
/public/mix-manifest.json
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
